<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </div>
  <div class="offset-sm-2 col-sm-6">
    <ul>
      <li>好きな球団：</li>
      <li>注目の選手・好きな選手：</li>
    </ul>
  </div> 
</div>

<%= link_to 'プロフィール編集', edit_user_path, class: 'btn btn-primary btn-block' %>