.mypage {
    margin: 30px;
}

.mypage-list {
    margin: 30px;
}

.mypage-list li {
    font-size: 20px;
    list-style: none;
}

.edit_link {
    float: right;
    margin-right: 100px;
}

.messages {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.message {
    border-bottom: 1px dotted #ddd;
}